apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: karpenter-config-dev
  namespace: argocd
spec:
  project: platform-dev-project
  
  source:
    repoURL: https://github.com/YonatanDas/Banking-Microservices-Platform.git
    targetRevision: Feature/platform-modularization
    path: infra/karpenter/dev 
    directory:
      recurse: true 
  
  destination:
    server: https://kubernetes.default.svc
    namespace: karpenter
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  
  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jsonPointers:
        - /metadata/annotations

