name: CI - gateway Service

on:
  push:
    branches: ["main"]
    paths:
      - "services/gateway/**"
  pull_request:
    paths:
      - "services/gateway/**"

env:
  SERVICE: gateway
  AWS_REGION: us-east-1
  ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
  SERVICE_DIR: services/gateway

jobs:

  test-lint:
    uses: ./.github/workflows/reusable/test-java.yaml
    with:
      service_dir: "services/gateway"

  build:
    needs: test-lint
    uses: ./.github/workflows/reusable/build-image.yaml
    with:
      service_name: "gateway"
      service_dir: "services/gateway"

  trivy:
    needs: build
    uses: ./.github/workflows/reusable/trivy-scan.yaml
    with:
      image: "${{ env.ECR_REGISTRY }}/gateway:${{ github.sha }}"

  update-argocd:
    needs: trivy
    uses: ./.github/workflows/reusable/update-image-tag.yaml
    with:
      service_name: "gateway"
      new_tag: "${{ github.sha }}"
    secrets: inherit