apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  config.yaml: |
    auth_enabled: false
    
    server:
      http_listen_port: 3100
      grpc_listen_port: 9095
    
    common:
      path_prefix: /var/loki
      replication_factor: 1
      storage:
        s3:
          bucketnames: dev-loki-storage-063630846340
          insecure: false
          s3forcepathstyle: false
    
    schema_config:
      configs:
        - from: "2024-01-01"
          store: boltdb-shipper
          object_store: s3
          schema: v11
          index:
            prefix: loki_index_
            period: 24h
    
    storage_config:
      boltdb_shipper:
        active_index_directory: /var/loki/boltdb-shipper-active
        cache_location: /var/loki/boltdb-shipper-cache
        shared_store: s3
      aws:
        s3: s3://us-east-1/dev-loki-storage-063630846340
        bucketnames: dev-loki-storage-063630846340
        endpoint: s3.us-east-1.amazonaws.com
        region: us-east-1
        s3forcepathstyle: false
    
    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h